.recipe{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    width:100%;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    height: 15%;
    padding: 1%;
}

img {
    display: block;
    width:  210px;
    height: 210px;
    object-fit: cover;
}

.recipe-image{
    align-content: center;
    max-width: 215px;
    max-height: 215px;
    padding: 1%;
}

.recipe-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px;
    max-width: 90%;
}