.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  padding: 2%;
  justify-content: center;
}

h1 {
  margin: 0px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
  min-height: 50%;
  font-size: calc(10px + 2vmin);
  width: 100%;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

#text-search-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: 5px;
  padding: 1.5rem;
  border-radius: 15px;
}

