.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  padding: 2%;
  justify-content: center;
  margin-right: 12px;
  background-color:antiquewhite;
}

h1 {
  margin: 0px;
  margin-bottom: 15px;
  text-align: center;
  min-height: 50%;
  font-size: calc(10px + 2vmin);
  width: 100%;
  align-self: stretch;
}

#text-search-box{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: 5px;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: calc(8px + 1vmin);
  margin-bottom: 3%;
}

#search-section{
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  background-color: white;
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 2%;
  margin-top: 1%;
}

#drop-down-options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

#drop-down-options div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  position: relative;
}

#drop-down-options div label{
  align-self: flex-start;
  padding-right: 2%;
  width: fit-content;
  font-size: calc(8px + 1vmin);
}

.drop-down {
  align-self: center;
  width: fit-content;
  border-radius: 8px;
  font-size: calc(7px + 1vmin);
  padding: 2%;
  height: fit-content;
  border-width: 3px;
  border-color: dodgerblue;
}

#logo {
  width: 80px;
  height: 80px;
}


